<div fxLayout="column" fxLayoutAlign="center center" class="fit-parent" style="background-color: transparent;">
    <div>
        <h2>Add New Fee Account</h2>
    </div>
    <div fxLayout="column" fxFlex="40" style="background-color: var(--mat-sys-background); ">

        <div fxLayout="row" *ngIf="vm && vm.student && vm.person" fxLayoutAlign="space-between"
            style="background-color: transparent;" fxFlex>
            <div fxLayout="column">
                <p class="theme-font-medium-size no-margin">Admission Number</p>
                <p class="theme-font-medium-size no-margin theme-primary-color">{{vm.student.admissionNumber}}</p>
            </div>
            <div fxLayout="column">
                <p class="theme-font-medium-size no-margin">First Name</p>
                <p class="theme-font-medium-size no-margin theme-primary-color">{{vm.person.firstName}}</p>
            </div>
            <div fxLayout="column">
                <p class="theme-font-medium-size no-margin">Middle Name</p>
                <p class="theme-font-medium-size no-margin theme-primary-color">{{vm.person.middleName}}</p>
            </div>
            <div fxLayout="column">
                <p class="theme-font-medium-size no-margin">Surname</p>
                <p class="theme-font-medium-size no-margin theme-primary-color">{{vm.person.surname}}</p>
            </div>
            <mat-icon color="primary" mat-button [matMenuTriggerFor]="create">more_vert</mat-icon>
            <mat-menu #create="matMenu">
                <!-- <button mat-menu-item [command]="vm.showFeeStatementComm">
                    <p class="mat-caption">Show fee statement</p>
                </button> -->
            </mat-menu>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: transparent;">
            <mat-form-field class="fee-accounts">
                <mat-label>Terms</mat-label>
                <mat-select [formControl]="termFormControl">
                    <mat-option *ngFor="let t of terms | async" [value]="t">{{t.description}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button class="save" [disabled]="termFormControl.invalid" [command]="save">Save</button>

        </div>

    </div>
</div>