<div fxLayout="column" fxLayoutAlign="center center" class="fit-parent" style="background-color: transparent;">
    <div>
        <h2>Admission Form</h2>
    </div>
    <div fxLayout="column" fxFlex="40" style="background-color: var(--mat-sys-background); ">

        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: transparent;">
            <mat-form-field class="input">
                <mat-label>First name</mat-label>
                <input type="text" matInput [formControl]="firstNameFormControl" placeholder="Enter your first name">
                <mat-error *ngIf="firstNameFormControl.hasError('required')">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Middle name</mat-label>
                <input type="text" matInput [formControl]="middleNameFormControl" placeholder="Enter your middle name">
                <mat-error *ngIf="firstNameFormControl.hasError('required')">Middle name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Surname</mat-label>
                <input type="text" matInput [formControl]="surnameFormControl" placeholder="Enter your surname">
                <mat-error *ngIf="firstNameFormControl.hasError('required')">Surname is required</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: transparent;">
            <mat-form-field class="fee-accounts">
                <mat-label>Grades</mat-label>
                <mat-select [formControl]="gradeFormControl">
                    <mat-option *ngFor="let g of grades | async" [value]="g">Grade {{g.level}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button class="save" [disabled]="firstNameFormControl.invalid || middleNameFormControl.invalid || 
            surnameFormControl.invalid || gradeFormControl.invalid" [command]="save">Save</button>

        </div>

    </div>
</div>